# Be sure to ignore all dependency packages, or the repository will blow up!
# There is a patch I applied to ytdl-core-discord which will have to be
# manually be downloaded from my repository. Add any other useless (non-resource or non-js) files.
node_modules
.vscode
.DS_Store
db
logs
.env
workspace
